@font-face {
   font-family: 'QuestaGrande-Regular';
   font-display: swap;
   src: url('file:///Users/enesakkoyun/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-03-21_054630/fonts/QuestaGrande-Regular/font.ttf');
}
